.container {
  background-color: rgb(295,192,203);
}

.debug .container [class*="col-"] {
  position: relative;
}

/* inietto testo all'interno dei div*/
.container [class*="col-"]::before{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container .col-1::before{
  content: "1 col";
}
.container .col-2::before{
  content: "2 col";
}
.container .col-3::before{
  content: "3 col";
}
.container .col-4::before{
  content: "4 col";
}
.container .col-5::before{
  content: "5 col";
}
.container .col-6::before{
  content: "6 col";
}
.container .col-7::before{
  content: "7 col";
}
.container .col-8::before{
  content: "8 col";
}
.container .col-9::before{
  content: "9 col";
}
.container .col-10::before{
  content: "10 col";
}
.container .col-11::before{
  content: "11 col";
}
.container .col-12::before{
  content: "12 col";
}

/* final container */


.white {
  background-color: white;
}

.col-12.white [class*="col-"] {
  background-color: rgb(240,127,128);
}
/* .col-12.white [class*="col-"]::after {
  content: "Nested";
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
} */
.col-12.white {
  padding:2px;
  border: none;
}
.col-12.white .col-6 {
  margin:1px;
  height: calc(100% - 2px);
}

.col-6 {
    width: calc( (100% / 12) * 6 - 2px);
}

.col-6.little {
  padding:5px;
  border:none;
}
.col-6.little [class*="col-"] {
  border:none;
}

.col-2#right_border {
  border-right: 2px solid white;
}

.col-12.white [class*="col-"]::before {
  content:none;
}

.col-12.white .col-2::before{
  content: "Nested 2 Col";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.col-12.white .col-8::before{
  content: "Nested 8 Col";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.col-12.white .col-6::before{
  content: "Nested 6 Col";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
